body{
    width:1920px;
}
#icons{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    background :#1565C0;
    padding:15px;
    margin:0;
}

#icons i{
    font-size:45px;
    padding-left:16%;
    color:#fff;
}

/*------- media queries ---------------*/
@media (max-width: 800px) {
    #icons i{
        font-size:35px;
        padding-left: 14%;
    }
 }